*{
    font-family: "Poppins",sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    width: 100%;
    height: 75px;
    display: block;
    background-color: orangered;
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
}
.logo
{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    height: 100%;
    display: table-cell;
    float: left;
    vertical-align: middle;
    padding: 20px;
    margin-left: 20px;
    
}
a
{
    color: whitesmoke;
    -webkit-transition: 0.5s, ease;
    -o-transition: 0.5s, ease;
    transition: 0.5s, ease;
    text-decoration: none;
}
a:hover 
{
    text-decoration: none !important;
    color: black !important;
}
a:active
{
    text-decoration: none;
    color: whitesmoke;
}
.navbar
{
    float: right;
    height: 100%;
    list-style: none;
    margin-right: 40px;
    margin-top: 18px;
}
.navbar li
{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding: 10px;
}
body
{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    display: block;
}
.background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('reg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.container
{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;   
    padding: 0 20px;
    position: relative;
    max-width: 500px;
    width: 100%;
    background: whitesmoke;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
}
.container h1
{
    text-align: center;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}
.container form
{
    align-items: center;
    margin-top: 30px;
}
.input-box
{
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.input-box label
{
    color: black;
}
.input-box input
{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 1rem;
    color: black;
    margin-top: 8px;
}
.input-box input:focus,
.input-box input:valid {
    border-color: orangered;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    color: orangered;
}
.column
{
    display: flex;
    column-gap: 15px;

}
.select-box {
    height: 50px;
    width: 100%;
    margin-top: 10px;
    column-gap: 15px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 5x;
    font-size: 1rem;
    color: black;
    margin-top: 8px;
}

.select-box select
{
    height: 100%;
    padding-left: 10px;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
    appearance: none;
    border-radius: 10px;
}
input[type="submit"]
{
    width: 80%;
    height: 50px;
    border: 1px solid;
    margin-top: 30px;
    margin-left: 40px ;
    border-radius: 20px;
    background: orangered;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: auto;
    outline: none;

}
input[type="submit"]:hover{
    border-color: orangered;
    transition: .5s;
}
p a
{
    color: orangered;
    -webkit-transition: 0.5s, ease;
    -o-transition: 0.5s, ease;
    transition: 0.5s, ease;
    text-decoration: none;
}
p a:hover
{
    text-decoration: none !important;
    color: blue !important;
}